# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [3]:
my_string="Gio plays too many video games"
print(my_string.lower())
print(my_string)

gio plays too many video games
Gio plays too many video games

In [26]:
# string.lstrip()

name = "             steven"
print(name)
print(name.lstrip(" st"))

             steven
even

##### .rstrip()

In [18]:
# string.rstrip()

name="         Francisco         "
print(name.rstrip("isco"))

         Francisco

##### .strip()

In [ ]:
# string.strip()

##### .title()

In [ ]:
# string.title()

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [46]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

names_list= []
for name in names:
    names_list.append(name.strip().title())
print(names_list)

['Connor', 'Max', 'Evan', 'Jordan']

In [39]:
# split()

my_string="Hello,                    how is everyone doing"
print(my_string.split(","))

['Hello', '                    how is everyone doing']

### Working With Lists

##### min()

In [41]:
# min(list)
my_list=[1,2,3,4,5,6,7,9,8]
min(my_list)

1

##### max()

In [47]:
# max(list)
max(my_list)

9

##### sum()

In [48]:
# sum(list)
print(sum(my_list))

45

##### sorted()

In [49]:
# sorted(list)

sorted(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [54]:
# list.sort()


# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

print(my_list.sort())
print(my_list)

None
[1, 2, 3, 4, 5, 6, 7, 8, 9]

##### Copying a List

In [58]:
my_list1=[1,2,3,4,5]
my_list2=my_list1

my_list2.append(6)

print(my_list1)
print(my_list2)

print(id(my_list1))
print(id(my_list2))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
2024659516800
2024659516800

In [59]:
# [:] copies a list, doesn't alter original

my_list4=my_list1[:]
print(id(my_list4))

2024660516736

##### 'in' keyword

##### 'not in' keyword

##### Checking an Empty List

In [63]:
# if l_1: or if l_1 = []

my_list = []
if not my_list:
    print("Empty")
else:
    print("Not empty")

Empty

##### Removing Instances with a Loop

In [66]:
# while, remove

my_class=['Dylan', 'Gio', 'Andre', 'Dylan', 'Jody']

while 'Dylan' in my_class:
    my_class.remove('Dylan')
    print(my_class)

['Gio', 'Andre', 'Dylan', 'Jody']
['Gio', 'Andre', 'Jody']

In [76]:
my_class=['Dylan', 'Gio', 'Andre', 'Dylan', 'Jody']
my_class.count('Dylan')

2

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [89]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_name=[]
for name in names:
    if name not in new_name:
        new_name.append(name)
print(new_name)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [94]:
# .join

#string method

my_class=['Dylan', 'Gio', 'Andre', 'Dylan', 'Jody']

print("*, ".join(my_class))

Dylan* *, Gio* *, Andre* *, Dylan* *, Jody

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [95]:
my_class=['Shayne', 'Dylan', 'Gio', 'Andre', 'Sarah', 'Dmitry', 'Jody', 'Steven']

new_list=[]
for person in my_class:
    new_list.append(person)
print(new_list)

['Shayne', 'Dylan', 'Gio', 'Andre', 'Sarah', 'Dmitry', 'Jody', 'Steven']

In [97]:
new_list_comp =  [person for person in my_class]
print(new_list_comp)

['Shayne', 'Dylan', 'Gio', 'Andre', 'Sarah', 'Dmitry', 'Jody', 'Steven']

In [103]:
my_class=['Shayne', 'Dylan', 'Gio', 'Andre', 'Sarah', 'Dmitry', 'Jody', 'Steven']

new_list=[]
for person in my_class:
    new_list.append(person[0])
print(new_list)

['S', 'D', 'G', 'A', 'S', 'D', 'J', 'S']

In [111]:
new_list=[]
for person in my_class:
    if person[0].lower()=="s":
        new_list.append(person)
print(new_list)

['Shayne', 'Sarah', 'Steven']

In [112]:
new_list=[]
for person in my_class:
    if person[0].lower()=="s":
        new_list.append(person)
    else:
        new_list.append("Doesn't start with S")
print(new_list)

['Shayne', "Doesn't start with S", "Doesn't start with S", "Doesn't start with S", 'Sarah', "Doesn't start with S", "Doesn't start with S", 'Steven']

In [131]:
new_list1 = []
my_class=['Grady', 'Dara', 'Scarlett', 'Patrick', 'Ku', 'Frank', 'Aydee']
for person in my_class:
    if len(person) == 5:
        new_list1.append(person)
    else:
        new_list1.append("Not")
print(new_list1)

['Grady', 'Not', 'Not', 'Not', 'Not', 'Frank', 'Aydee']

In [127]:
newlist = []
my_list=['Levi','Axel','Carmelo','Yakov','Katie','Alec','Angelo','David','Trace']
for friend in my_list:
    newlist.append(friend[-1])
print(newlist)

['i', 'l', 'o', 'v', 'e', 'c', 'o', 'd', 'e']

In [ ]:
# number comprehension

# With a regular for loop


# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
# square number comprehension

In [ ]:
# string comprehension

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [132]:
my_tup = (1,2,3)
type(my_tup)

tuple

In [133]:
my_tup = 1,2,3
type(my_tup)

tuple

In [196]:
my_tup=('Jacoby', 'Ola', 'Alex', 'Andre')
print(my_tup)

('Jacoby', 'Ola', 'Alex', 'Andre')

In [137]:
print(my_tup[1])

Ola

In [143]:
my_tup.index('Alex')

2

##### sorted()

In [146]:
sorted_tup=sorted(my_tup, reverse=True)
sorted_tup

['Ola', 'Jacoby', 'Andre', 'Alex']

In [148]:
new_tup=(1,2,3, ['a','b','c'], 4)
new_tup[3][1]='y'
new_tup

(1, 2, 3, ['a', 'y', 'c'], 4)

##### Adding values to a Tuple

In [149]:
my_tup=('Jacoby', 'Ola', 'Alex', 'Andre')
my_tup=my_tup+('Jodie', 'Steven')
my_tup

('Jacoby', 'Ola', 'Alex', 'Andre', 'Jodie', 'Steven')

## Functions

##### User-Defined vs. Built-In Functions

In [165]:
def say_hello():
    print("Hello")
    
print(say_hello())

Hello
None

In [166]:
print(say_hello)

<function say_hello at 0x000001D76772D940>

In [169]:
def add():
    return 5+3

SyntaxError: 'return' outside function (141321831.py, line 3)

##### Accepting Parameters

In [174]:
def print_full_name(first, last):
    print(f"{first} {last}")
          
print_full_name("Steven", "Kim")

Steven Kim

In [177]:
my_list=[]

def add_to_list(a_list):
    a_list.append("abc")

print(my_list)
add_to_list(my_list)
print(my_list)

[]
['abc']

##### Default Parameters

In [181]:
def agent_name(first, last="Bond"):
    print(f"Your name is {last}, {first}")
agent_name("Steven", "Kim")

Your name is Kim, Steven

##### Making an Argument Optional

In [184]:
def my_function():
    print('line 1')
    return
    print('line 2')
print('line 3')

my_function()

line 3
line 1

In [186]:
def what_datatype():
    return ['Hey', 123, [4,5], 187.123, {"hello":"guys"}]

what_datatype()[3]

187.123

##### Keyword Arguments

In [ ]:
# last_name='Max', first_name='Smith' in the function call

# see above

# Creating a start, stop, step function

##### Returning Values

##### *args

In [ ]:
print(1,2,3,4,5,6)

In [191]:
def my_fun(name, *args):
    print(name)
    for arg in args:
        print("random ", arg)
    
my_fun('steven', 123.3, [1,2,3], "hello")

steven
random  123.3
random  [1, 2, 3]
random  hello

In [195]:
# kwargs

def my_func(name, **kwargs):
    print(name)
    print(kwargs)
    print(type(kwargs))
    for key in kwargs:
        print(key, kwargs[key])
    
my_func('Sarah', weight=85, height=64, foods=['tacos', 'steak', 'strawberry'], hair_color="pink")

Sarah
{'weight': 85, 'height': 64, 'foods': ['tacos', 'steak', 'strawberry'], 'hair_color': 'pink'}
<class 'dict'>
weight 85
height 64
foods ['tacos', 'steak', 'strawberry']
hair_color pink

##### Docstring

In [217]:
def my_function(name, age):
    
    return f'{name} is {age}'
print(my_function("steven", "kim"))

steven is kim

##### Using a User Function in a Loop

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [220]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']


def full_name(first, last):
    new_list = []
    for index in range(len(first)):
        their_full_name = f"{first[index]} {last[index]}"
        new_list.append(their_full_name.title())
    return new_list

print(full_name(first_name, last_name))

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
LEGB
Local
Enclosing
Global
Build-in

x = 3
y=12

def func():
    z=3
    def inner():
        a=12

In [213]:
var1 = "A"

def my_function():
    print("inside the fuction",var1)
    var2="B"
    print("inside the function",var2)

my_function()
print(var2)

inside the fuction A
inside the function B

NameError: name 'var2' is not defined

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [14]:
# Use the following list - [1,11,14,5,8,9]

list = [1,11,14,5,8,9]


def under_ten(list):
    for number in list:
        if number < 10:
            print(number)
    
under_ten(list)

1
5
8
9

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [21]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

sorted(l_1+l_2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]